<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Easy-Eat</ion-title>
        <ion-buttons slot="primary">
          <ion-button routerLink="/parametre">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-button
      routerLink="decouvrir"
      fill="outline"
      color="success"
      size="large"
      horizontal="center"
      vertical="center"
      >Découvrir une recette</ion-button
    >
    <ion-button
      routerLink="cuisiner"
      fill="outline"
      color="secondary"
      size="large"
      horizontal="center"
      vertical="center"
      >Cuisiner vos restes</ion-button
    >

    <ion-content class="ion-padding"> </ion-content>
  </div>
  <ion-list> </ion-list>
</ion-app>
