<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false">
            <ion-icon name="close-outline"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary"> </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-card>
          <img src="../../assets/icon/mick.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Marrant</ion-card-subtitle>
            <ion-card-title>Mickael</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Salut je suis mickael.
          </ion-card-content>
        </ion-card>

        <ion-chip>
          <ion-avatar>
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+"
            />
          </ion-avatar>
          <ion-label>Mickael Marrant | 23 ans</ion-label>
        </ion-chip>
        <ion-item>
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Favorites</ion-label>
          <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>Récap alimentation </ion-label>
          <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="trending-up-outline"></ion-icon>
          <ion-label>Améliorer alimentation</ion-label>
          <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label>Un problème ?</ion-label>
          <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ma liste de courses</ion-title>

        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-segment value="favorite">
      <ion-segment-button value="call">
        <ion-label>Légume</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorite">
        <ion-label>Tout</ion-label>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-label>Viande</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon md="caret-up" ios="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light">
          <ion-label>Produit</ion-label>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-label>Catégorie</ion-label>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-content class="ion-padding">
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <ion-reorder-group disabled="false">
        <!-- Default reorder icon, end aligned items -->
        <ion-item>
          <ion-label>
            Tomates
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label>
            Sel
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label>
            Persil
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label>
            500g Steak
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item>
          <ion-label>
            Céreale
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label>
            Ketchup
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item>
          <ion-label>
            Ice-tea
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label>
            Dentifrice
          </ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-content>
  </div>
</ion-app>
