<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Gnocchis</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tab1"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button routerLink="/parametre">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <img src="../../assets/icon/gnocchis.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Difficultée: Moyen</ion-card-subtitle>
          <ion-card-title>Gnocchis</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Très souvent, on se fait une montagne des gnocchi maison. Pourtant, ce
          n'est pas si compliqué à cuisiner... Si vous avez un reste de purée de
          pommes de terres, cela n’en sera que plus rapide ! Non seulement c'est
          économique, mais surtout ce n'est pas si long (il ne faut pas non plus
          s’y mettre 30 minutes avant de manger). Les gnoochi maison, c'est
          super bon. Alors lancez-vous !</ion-card-content
        >
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etape 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>
            Lavez les pommes de terre puis plongez-les dans une grande casserole
            remplie d’eau fraîche et salée.<br /><br />
          </li>
          <li>Faites-les cuire pendant environ 30 min.<br /><br /></li>
          <li>
            En fin de cuisson, plantez la lame d’un couteau dans une pomme de
            terre. Lorsque la chair est cuite, la lame s’enfonce sans
            résistance.
          </li>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etape 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>
            Égouttez les pommes de terre, épluchez-les et réduisez-les en purée
            à la fourchette ou à l’aide d’un presse-purée à manivelle.
          </li>
          <br /><br />
          <li>
            Dans un saladier, mélangez la purée de pommes de terre, la farine
            tamisée et les jaunes d’œufs. Assaisonnez à votre convenance avec le
            sel et le poivre.
          </li>
          <br /><br />
          <li>
            Pétrissez ensuite à la main la préparation jusqu'à l'obtention d'une
            pâte homogène.
          </li>
          <br /><br />
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etape 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>Farinez généreusement votre plan de travail.</li>
          <br /><br />
          <li>
            Toujours à la main, formez de petites boules de pâtes régulières.
          </li>
          <br /><br />
          <li>
            Roulez les gnocchi de pommes de terre sur le dos d’une fourchette.
            Vous pouvez également réaliser les stries avec un couteau, pour
            démarquer les crans des gnocchi.
          </li>
          <br /><br />
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etape 4</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>Dans une grande casserole, faites bouillir de l’eau salée.</li>
          <br /><br />
          <li>
            Pochez-y les gnocchi jusqu’à ce qu’ils remontent à la
            surface.Gouttez-les pour vérifier leur texture et leur cuisson.
          </li>
          <br /><br />
          <li>Égouttez-les dans une passoire.</li>
          <br /><br />
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etape 5</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <li>Faites chauffer une poêle avec la cuillère à soupe de beurre.</li>
          <br /><br />
          <li>
            Faites-y dorer les gnocchi quelques minutes, pour le côté
            croustillant.
          </li>
          <br /><br />
          <li>Servez aussitôt avec un peu de parmesan râpé.</li>
          <br /><br />
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
